<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>

<body>

	<form id="form" method="POST" action = "/process_post">
		To: <input type="text" name="To" placeholder="1-(111)-111-1111"/>
		Body: <input type="text" name="Body" placeholder="type message here"/>
		<input type="hidden" name="From" value="19179243374" >
		<input type="submit" onclick="sendTextMessage()" />
	</form>



</body>
</html>
